.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card {
  position: relative;
  background-color: white;
  border: none;
  cursor: pointer;
  width: 340px;
  height: 480px;
}
.img-des {
  position: absolute;
  bottom: 0;
  background-color: black;
  color: white;
  font-weight: 900;
  text-align: center;
  height: auto;
  width: 100%;
  padding: 10px 0 10px 0;
}
.circle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  padding: 0;
}
.arrow-icon {
  padding: 8px 12px 8px 14px !important;
}
.front,
.back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 0.8s linear;
}
.front img {
  height: 100% !important;
  width: 100%;
}
.front {
  transform: perspective(600px) rotateY(0deg);
}
.back {
  background: #1c1b1b;
  transform: perspective(600px) rotateY(180deg);
}
.back-content {
  color: white;
  text-align: justify;
  width: 85%;
}
.back-content > h4 {
  font-size: 16px;
  line-height: 1.4em;
}
.back-content > h3 {
  line-height: 1.4em;
  text-align: center;
  margin-top: 30px;
}
.sm {
  margin: 20px 0;
  text-align: center;
}
.sm a {
  display: inline-flex;
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  transition: 0.4s;
  border-radius: 50%;
  text-decoration: none;
}
.sm a:hover {
  background: #2c3e50;
  color: white;
  text-decoration: none;
}
.card:hover > .front {
  transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .back {
  transform: perspective(600px) rotateY(0deg);
}
