.handbookimg{
    width: 80%;
}
.brochimg{
    width: 90%;
}
.handbooks{
    padding-left: 8%;
}
.brochures{
    padding-left: 8%;
}

@media screen and (max-width:765px){
    .handbooks{
        margin-left: 70px !important;
    }
    .brochures{
        margin-left: 64px !important;
    }
    .handbookimg{
        width: 65%;
    }
    .brochimg{
        width: 70%;
    }
}
@media screen and (max-width:426px){
    .handbooks{
        margin-left: 50px !important;
    }
    .brochures{
        margin-left: 44px !important;
    }
    .handbookimg{
        width: 65%;
    }
    .brochimg{
        width: 70%;
    }
}