.handbookimg{
    width: 80%;
}
.brochimg{
    width: 90%;
}
.handbooks{
    padding-left: 8%;
}
.brochures{
    padding-left: 8%;
}

@media screen and (max-width:765px){
    .handbooks,.brochures{
        text-align: center !important;
    }
}
