.hero-cta {
  position: absolute;
  top: 70%;
  right: 0px;
  transform: translateY(-50%);
}
.hero-cta a {
  padding: 10px 30px;
  border-radius: 5px;
}
.hero-cta a:hover {
  color: #000;
  text-decoration: none;
}
.tagline {
  position: absolute;
  bottom: 50px;
}
.cards {
  padding: 30px;
}
.r-card {
  padding: 20px 20px;
  height: 100%;
  border-radius: 0 80px 0 80px;
}
.cards .col-lg-4,
.blogs-container .col-lg-4 {
  padding: 0 60px;
}
.services .col-lg-4 {
  /* height: 50vh; */
  padding: 50px;
}
.services .card-title {
  margin-bottom: 20px;
}
.card-title{
  font-family: 'Balsamiq Sans', cursive;
}
.text-modified{
  font-family: 'Balsamiq Sans', cursive;
}
.about .heading {
  line-height: 100%;
  z-index: 1;
  position: relative;
}
.about-us {
  margin-top: 100px;
}
.bg-about {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  /* height: 90vh; */
  width: 40vw;
}

.link-btns {
  margin-bottom: 25px;
}
.link-btns a {
  border: 1px solid #555555;
  padding: 15px 50px;
  color: white;
  border-radius: 5px;
  width: 250px;
  display: inline-block;
  text-align: left;
}
.link-btns a:hover {
  background: linear-gradient(90deg, #b80f0a -2.58%, #920000 93.47%);
  text-decoration: none;
}
.announcements .banner {
  top: 50px;
  right: 0;
  transform: translateY(0%);
  width: 65%;
  border-radius: 5px 0 0 100px;
}
.announcement {
  position: absolute;
  top: 60%;
  left: 50%;
  padding: 20px;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}
.announcement-date {
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 10px;
}
.owl-nav {
  font-size: 24px;
  font-weight: 900;
  color: white;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  padding: 0 20px !important;
}
.owl-dots {
  display: none;
}
form {
  padding: 30px 40px;
  border-radius: 5px;
}
form input,
form select,
form textarea,
form button {
  border-radius: 5px !important;
  margin-bottom: 40px;
  background-color: #d8d8d8 !important;
}
form button {
  background-color: #1c1b1b !important;
  border: none !important;
  padding: 5px 15px !important;
}
.blogs-container .banner {
  position: relative;
  top: 0;
  transform: translateY(0);
  border-bottom-right-radius: 75px;
}
.blog img {
  border-radius: 40px 0 40px 0;
  width: 100%;
}
.blogs-container .col-lg-4 {
  margin-bottom: 50px;
}
.circle {
  border-radius: 50%;
  padding: 30px 10px;
}
.blog-date {
  position: relative;
  display: inline-block;
  transform: translateY(-50%);
  margin-bottom: 10px;
}
.blog-title {
  text-transform: capitalize;
}
.particles-js-canvas-el {
  position: absolute;
  bottom: 0;
  border-top-right-radius: 100%;
  /* border: 1px solid #E61E3D; */
}
#about-us {
  position: absolute;
  bottom: 0;
  height: 75%;
  width: 60vw;
}
.row{
  margin: 0px !important;
}
/* .blogs-container .col-lg-4 {
      padding: 0 80px;
  } */

@media only screen and (max-width: 767px) {
  .hero-cta {
    width: 100%;
    top: 75%;
    left: 0;
    right: auto;
  }
  .tagline {
    bottom: 30px;
  }
  .r-card {
    border-radius: 0;
  }
  .cards .col-lg-4,
  .blogs-container .col-lg-4 {
    padding: 0 0px;
  }
  .blogs-container .banner {
    color: #fff;
    background-color: #1c1b1b;
    border-radius: 0px;
  }
  .about .heading {
    width: 100%;
    line-height: 100%;
  }
  .about-us {
    width: 100%;
    float: left;
    margin-top: 20px;
  }
  .bg-about {
    display: none;
  }
  .announcement img {
    width: 100%;
  }
  .announcement {
    width: 95%;
  }
  .announcement-title,
  .announcement-date,
  .announcement-desc {
    font-size: 16px;
  }
  .announcements .f-80 {
    font-size: 30px;
  }
  form {
    padding: 30px 20px;
  }
  .blog img {
    border-radius: 0;
  }
}
