@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins:ital,wght@0,700;1,600&family=Rubik&display=swap");

.services .col-lg-4 {
  padding: 50px;
}
.services .card-title {
  margin-bottom: 20px;
}
.card-title {
  font-family: "Balsamiq Sans", cursive;
}
.w-90 .row {
  margin: 0;
  margin-bottom: 100px;
}

@media only screen and (max-width: 400px) {
  .disp-none {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .text-mod1 h1 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 410px) {
  .text-mod1 h1 {
    font-size: 30px;
  }
}

.text-modified1 {
  font-family: "Rubik", sans-serif;
}
